.form-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;

}
.logo {
  cursor: pointer !important;
}
h2 {
  text-align: center;
}
.example-form {
  max-width: 300px;
  margin: auto;
  padding: 30px 20px;
  background-color: rgb(233, 227, 227);
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.example-full-width {
  width: 100%;
}

mat-form-field {
  margin-bottom: 30px;
}

.example-icon {
  margin-top: 20px;
}

button {
  width: 100%;
  background-color: rgb(35, 35, 228) !important;
  color: black !important;
}
